@media all and (min-width: 480px) {
    .Home {
        padding: 60px 60px;
        height: 720px
    }
}

.List {
    border: 1px solid #d9dddd;
  }
  
  .ListItemEven,
  .ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ListItemEven {
    background-color: #f8f8f0;
  }
  
